body {
	margin: 0;
}

/*Navigation bar*/
nav {
	font-family: 'Montserrat', sans-serif;
	background-color: #636162;
	border-bottom: 7px solid #4274A6;
	position: fixed;
	width: 100%;
}

nav img {
	vertical-align: middle;
}

nav ul {
	width: 1160px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

nav li {
	list-style: none;
	display: inline-block;
}

nav li:first-child {
	margin-left: 0;
}

nav li a {
	color: #ebe7e9;
	text-decoration: none;
	font-size: 25px;
	text-transform: uppercase;
	display: block;
	height: 100%;
	line-height: 100px;
	padding: 0 20px;
}

nav a:hover {
	color: white;
}

/*Active navigation tab*/
#active {
	background-color: #659cc2;
}

#active:hover {
	background-color: #4274A6;
}


/*Banner section*/
.banner {
	background-image: url(../img/banner.jpg);
	padding: 300px 0 200px 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Banner tour detials*/
.banner-content {
	background: rgba(99, 97, 98, 0.5);
	color: white;
	font-family: 'Montserrat', sans-serif;
	padding: 10px 30px;
	margin: 0 auto;
	width: 609px;
	text-align: center;
}

.banner-content p {
	font-size: 32px;
}

.banner-content span {
	font-size: 20px;
}

/*Button style*/
#tour-details {
	background-color: #d62626;
	padding: 10px 30px;
	border: none;
	color: #ebe7e9;
	cursor: pointer;
	outline: none;
	font-size: 20px;
	margin-bottom: 10px;
}

#tour-details:hover {
	background-color: #4274A6;
	color: #ffffff;
}

/*Flight-offers div container*/
.flight-offers {
	background-color: #659cc2;
	color: #ebe7e9;
	text-align: center;
	padding: 10px 28% 25px 28%;
	margin-top: 0;
}

.flight-offers h1 {
	font-family: 'Montserrat', sans-serif;
}

.flight-offers p {
	font-family: 'raleway', sans-serif;
}

/*Bottom banner*/
.banner-bottom {
	background-image: url(../img/banner-bottom.jpg);
	padding: 20px 0;
	background-repeat: no-repeat;
	background-size: cover;
}

/*main content*/
.content {
	background: rgba(101, 156, 194, 0.5);
	text-align: center;
	margin: 0 auto;
	width: 609px;
	padding: 10px 0;
/*	position: absolute;
	left: calc(50% - 304.5px);
	top: calc(50% + 540px);*/
}

.content p {
	color: #ebe7e9;
	font-family: 'raleway', sans-serif;
}

.content img:first-child {
	padding-right: 5px;
}

.content img {
	width: 300px;
	height: 200px;
}

.content button {
	background-color: #d62626;
	padding: 10px 30px;
	border: none;
	color: #ebe7e9;
	cursor: pointer;
	outline: none;
	font-size: 20px;
	margin-bottom: 10px;
}

.content button:hover {
	background-color: #4274A6;
	color: #ffffff;
}

/*Footer*/
#footer-container {
	width: 1160px;
	margin: 0 auto;
	text-align: center;
}

#footer-container h1 {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 15px;
}

#footer-container p {
	font-family: 'raleway', sans-serif;
}

body > footer {
	background-color: #636162;
	clear: both;
	color: #cccccc;
	border-top: 7px solid #d62626;
	padding-bottom: 10px;
}

#book-now {
	background-color: #659cc2;
	padding: 10px 30px;
	border: none;
	color: #ebe7e9;
	cursor: pointer;
	outline: none;
	font-size: 20px;
	margin-bottom: 10px;
}

#book-now:hover {
	background-color: #4274A6;
	color: #ffffff;
}

.booking-button,
.social,
 .contact {
	float: left;
	margin: 0 40px;
	width: 306px;
}

.social i {
	font-size: 64px;
	color: #659cc2;
}

.social i:hover {
	color: #4274A6;
}

.social i:nth-child(1),
.social i:nth-child(2) {
	margin-right: 10px;
}

.contact i {
	font-size: 20px;
	margin-right: 10px;
}

body > footer:after {
	content: '';
	display: block;
	clear: both;
}
/*-----------------------------------------------*/
/*Flights page css*/
/*.flight-banner-content {
	background: rgba(99, 97, 98, 0.5);
	color: white;
	font-family: 'Montserrat', sans-serif;
	padding: 10px 30px;
	margin: 0 auto;
	width: 609px;
	text-align: center;
}*/

/*Banner section*/
.flights-banner {
	background-image: url(../img/flights-banner.jpg);
	padding: 300px 0 200px 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#flight-container {
	background-color: #ebe7e9;
}

#flight-content {
	color: #636162;
	margin: 0 auto;
	width: 1160px;
}

#flight-content h1 {
	font-family: 'Montserrat', sans-serif;
}

#flight-content p {
		font-family: 'raleway', sans-serif;
}

.transport {
	background-color: #659cc2;
	float: left;
	color: #ebe7e9;
	padding: 40px 0 20px 0;
	margin: 20px;
	width: 29.8%;
	text-align: center;
}

.transport img {
	width: 280px;
	height: auto;
}

.transport span {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

.list-wrapper {
	width: 1160px;
	margin: 0 auto;
	height: 200px;
}

.list-left {
	float: left;
	width: 50%;
	margin-bottom: 10px;
}
.list-right {
	float: right;
	width: 50%;
	margin-bottom: 10px;
}

#flight-options {
	padding: 10px 10px;
	color: #636162;
	clear: both;
}

#flight-options h1 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 0;
}

#flight-options li {
	font-family: 'raleway', sans-serif;
}

#scenic-flights {
	padding: 0 30px;
	margin: 0 auto;
	width: 1160px;
	color: #ebe7e9;
	margin-bottom: 10px;
}

#scenic-flights h1 {
	font-family: 'Montserrat', sans-serif;
}

#scenic-flights p {
	font-family: 'raleway', sans-serif;
}

.scenic-flights-img {
	float: left;
	padding: 30px 30px;
	margin-right: 30px;
}

.scenic-flights-img img {
	width: 300px;
	height: 200px;
}

.scenic-flights-des {
	background-color: #659cc2;
	float: left;
	padding: 0 30px 10px 0;
	margin-bottom: 25px;
}

#scenic-flights:after {
	content: '';
	display: block;
	clear: both;
}

#button-center {
	text-align: center;
}

#bookingpage-button {
	background-color: #d62626;
	padding: 10px 30px;
	border: none;
	color: #ebe7e9;
	cursor: pointer;
	outline: none;
	font-size: 20px;
	margin-bottom: 30px;
}

#bookingpage-button:hover {
	background-color: #4274A6;
	color: #ffffff;
}

#flight-container:after {
	content: '';
	display: block;
	clear: both;
}

/*-----------------------------------------------*/
/*Gallery page css*/
#gallery-container {
	background-color: #ebe7e9;
}

.gallery-banner {
	background-image: url(../img/gallery-banner.jpg);
	padding: 300px 0 200px 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#gallery-wrapper {
	width: 1060px;
	margin: 0 auto;
	padding: 30px 0;
}

#button-one,
#button-two {
	background-color: #d62626;
	padding: 15px 25px;
	border: none;
	color: #ebe7e9;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	margin-right: 60px;
	margin-left: -40px;
	outline: none;
	cursor: pointer;
}

#button-one:hover,
#button-two:hover {
	background-color: #4274A6;

}

#gallery-buttons li {
	list-style: none;
	display: inline-block;
	float: left;
}

#gallery-buttons:after {
	content: '';
	display: block;
	clear: both;
}

#section-one {
	background-color: #659cc2;
	padding: 20px;
	text-align: center;
}

#section-one img {
	margin: 10px;
	width: 300px;
	height: 200px;
}

#section-two {
	background-color: #659cc2;
	padding: 30px;
	text-align: center;
	display: none;
}

#gallery-container:after {
	content: '';
	display: block;
	clear: both;
}

/*-----------------------------------------------*/
/*About page css*/
#about-container {
	background-color: #ebe7e9;
}

.about-banner {
	background-image: url(../img/about-banner.jpg);
	padding: 300px 0 200px 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#about-wrapper {
	width: 1060px;
	margin: 0 auto;
	padding: 30px 0;
	color: #ebe7e9;
}

#about-container h1 {
	font-family: 'Montserrat', sans-serif;
}

#about-container p {
	font-family: 'raleway', sans-serif;
}

.about-img {
	float: left;
	padding: 30px 30px;
	margin-right: 30px;
}

.about-des {
	background-color: #659cc2;
	width: 100%;
	float: left;
	padding: 0 40px 10px 0;
	margin-bottom: 30px;
}

#about-container:after {
	content: '';
	display: block;
	clear: both;
}


/*-----------------------------------------------*/
/*Contact page css*/
#contact-container {
	background-color: #ebe7e9;
}

.contact-banner {
	background-image: url(../img/contact-banner.jpg);
	padding: 300px 0 200px 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#contact-wrapper {
	width: 1160px;
	margin: 0 auto;
}

#contact-form {
	float: left;
	width: 50%;
	padding: 0 30px 20px 30px;
}

#contact-form,
#company-details {
	font-family: 'raleway', sans-serif;
	color: #636162;
}

#contact-form h1,
#company-details h1 {
	font-family: 'Montserrat', sans-serif;
	color: #636162;
}

#company-details {
	width: 35%;
	float: right;
	padding: 0 30px 20px 30px;
}

#company-details p {
	font-style: italic;
}

#email {
	width: 250px;
}

#submit-button {
	padding: 10px 30px;
	background-color: #659cc2;
	border: none;
	color: #ebe7e9;
	font-size: 20px;
}

#submit-button:hover {
	background-color: #4274A6;
}

form div {
	margin-bottom: 15px;
}

/*Contact form restrictions*/
#post {
	min-width: 550px;
	min-height: 150px;
	max-width: 600px;
	max-height: 250px;
	font-family: arial;
}

#contact-container:after {
	content: '';
	display: block;
	clear: both;
}

/*-----------------------------------------------*/
/*Bookings page css*/
#booking-container {
	background-color: #ebe7e9;
}

.booking-banner {
	background-image: url(../img/booking-banner.jpg);
	padding: 300px 0 200px 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#booking-content {
	color: #636162;
	padding: 10px 30px;
	margin: 0 auto;
	width: 1160px;
}

#booking-content h1,
#booking-content h2 {
	font-family: 'Montserrat', sans-serif;
}

/*#booking-content ul {
	column-count: 2;
	column-gap: 20px;
}
*/

#booking-content li,
#booking-content p {
	font-size: 14px;
	font-family: 'raleway', sans-serif;
}

#booking-content span {
	font-weight: bold;
}

#booking-form {
	margin: 0 auto;
	width: 1160px;
	padding: 10px 30px;
	font-family: 'raleway', sans-serif;
}

#booking-container:after {
	content: '';
	display: block;
	clear: both;
}